# Introduction to Python

## Basic Operations

In [10]:
1+1

2

It can store variables

In [12]:
x=5
y=10

x+y

15

## Basic Datatypes

It has several datatypes

In [14]:
a = 12 # integer: -2, -1, 0, 1, 2, 3, 4, 5, 100
b = -14.2 # float: -3.14159265358979, 45.2
c = 'test' # string: any sequence of characters
c = "test" # string (2)
d = True # boolean: is either True or False
d = False
e = [1, 2, 3, 4, 5, 'tea', 'orange', -14.2, [2, 3, 4]]
f = (1, 2, 'tea')
g = None # none or null datatype

Accessing values in a list

In [16]:
e[5]

'tea'

## List vs. Tuple

In [17]:
list_example = [1, 2, 3, 4] # this is a list
tuple_example = (1,2,3,4) # this is a tuple

lists can be edited, but tuples cannot

In [19]:
print(list_example)
list_example[3] = 12
print(list_example)

[1, 2, 3, 4]
[1, 2, 3, 12]

In [20]:
print(tuple_example)
tuple_example[3] = 12
print(tuple_example)

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

## Dictionary
dictionaries are composed of keys and values

In [23]:
dict_obj = {'key1': 1, 'key2': 20}
print(dict_obj['key2'])

20

In [27]:
dict_obj['key1'] = 5
dict_obj['key1']

5

# Coding Structures

if statement

In [31]:
if (x+4 == 10):
    print('apple')
else:
    print('banana')

banana

for/while loops

In [34]:
for i in e:
    print(i)

1
2
3
4
5
tea
orange
-14.2
[2, 3, 4]

In [36]:
count = -300
while count<10:
    print(count)
    count+=1

-300
-299
-298
-297
-296
-295
-294
-293
-292
-291
-290
-289
-288
-287
-286
-285
-284
-283
-282
-281
-280
-279
-278
-277
-276
-275
-274
-273
-272
-271
-270
-269
-268
-267
-266
-265
-264
-263
-262
-261
-260
-259
-258
-257
-256
-255
-254
-253
-252
-251
-250
-249
-248
-247
-246
-245
-244
-243
-242
-241
-240
-239
-238
-237
-236
-235
-234
-233
-232
-231
-230
-229
-228
-227
-226
-225
-224
-223
-222
-221
-220
-219
-218
-217
-216
-215
-214
-213
-212
-211
-210
-209
-208
-207
-206
-205
-204
-203
-202
-201
-200
-199
-198
-197
-196
-195
-194
-193
-192
-191
-190
-189
-188
-187
-186
-185
-184
-183
-182
-181
-180
-179
-178
-177
-176
-175
-174
-173
-172
-171
-170
-169
-168
-167
-166
-165
-164
-163
-162
-161
-160
-159
-158
-157
-156
-155
-154
-153
-152
-151
-150
-149
-148
-147
-146
-145
-144
-143
-142
-141
-140
-139
-138
-137
-136
-135
-134
-133
-132
-131
-130
-129
-128
-127
-126
-125
-124
-123
-122
-121
-120
-119
-118
-117
-116
-115
-114
-113
-112
-111
-110
-109
-108
-107
-106
-105
-104
-103
-102
-101
-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

functions

In [42]:
# function name
# inputs (arguments, parameters)
# outputs (return)

def my_quadratic_function(x):
    return x**2

t = 5**2
s = my_quadratic_function(10)
print(t, s)

25 100

## Import Statements

In [47]:
import numpy as np

In [48]:
np.sin(15)

0.6502878401571168

In [49]:
np.pi

3.141592653589793

# Algorithms Notes

In [50]:
# input --> algorithm --> output
# even / odd algorithm

# log(n) squared algorithm O(log(n)^2)
def even_odd(number):
    return number % 2 == 0

# constant time algorithm O(1)
def even_odd_str(number):
    last_number = number[-1]
    return last_number in [0, 2, 4, 6, 8]

True

In [57]:
print(np.log(10))
print(np.log(1000))

2.302585092994046
6.907755278982137

In [65]:
# guess my PIN
secret_pin = '0706'

for i in range(10):
    for j in range(10):
        for k in range(10):
            for l in range(10):
                guess = str(i)+str(j)+str(k)+str(l)
                if guess==secret_pin:
                    print(guess)
                    
# exponential time algorithm
# O(10^m), where m is the length of the pin

0706

# Binary

In [69]:
# let's count in base 10
# 0, 1, 2, 3, 4, 5, 6, 7, 8, 9,.. 10, 11, 12, 13, 14, 15, 16

# let's count in base 5
# 0, 1, 2, 3, 4, 10, 11, 12, 13, 14, 
# 20, 21, 22, 23, 24, 30, 31, 32, 33, 34
# 40, 41, 42, 43, 44, 100, 

# let's count in base 2
# 0, 1, 10, 11, 100, 101, 110

# convert 0 from base 2 into base 10
0*(2**0)

# convert 1 from base 2 into base 10
1*(2**0)

# convert 10110 from base 2 into base 10
0*(2**0) + 1*(2**1) + 1*(2**2) + 0*(2**3) + 1*(2**4)

22

binary is the building block of classical computers, because they encode information using either 'on' (1) or 'off' (0) using a **bit**